<app-customnavbar></app-customnavbar>
<!-- <p  [ngClass]="currentColor ? currentColor : 'red'">customtheme works!</p>
<div [style]="{'background-color': currentColor, 'width': '10rem', 'height': '10rem'}"></div>
<br>
<div [style]="{'background-color': rgbColor, 'width': '10rem', 'height': '10rem'}"></div> -->
        
<!-- <form > -->
    <!-- <input type="color" id="favcolor" (change)="changeColor()" [(ngModel)]="rgbColor" name="favcolor">
    <button (click)="changeColor()">change color</button> -->
<!-- </form> -->
